.upload-container{ 
    width: 100%,;
    padding: 5px 15px;
    
}
.upload-outer-box{
    background-color: #F2F2F7;
    border-radius: 30px;;
}
.upload-heading{
    display: flex;
    align-items:center;
    svg {
        font-size: 28px;
        color: var(--active-themes);
        margin-right: 6px;
    }
    
}
.upload-box{
    text-align: center;
    .plus-icon-cont{
        cursor:pointer;
        width: 65px;
        margin: 0 auto;
        border-radius: 47%;
        height: 63px;
        border: solid 2px #E5E5EA;
        background-color: #FFFFFFCC;
        justify-content: center;
        display: flex;
        align-items: center;      
        
        svg{
            font-size: 60px;
            color: #E5E5EA;
        }
    };
    .allowed-text{
        font-size: 11px;
        background-color: #ffff;
        display: inline-block;
        padding: 5px 15px;
        border-radius: 10px;
    }
}
.file-row{
    height: 45px;
    background-color:#fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 6px;
    padding: 0 10px;
    border:1px solid #efefef;
    &:hover{
        background-color: #dde4fc;
    }
}
.search-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.file-count{
    background-color: #5376F0;
    padding: 8px;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 25%;
    div{
        background-color: #FFFFFF;
        color: var(--active-themes);
        padding: 1%;
        border-radius: 10px;
        width: 14%;
        text-align: center;
    }
}

.uploadedFileViewDiv {
    .stackDataOptions { 
        background: #fff; 
        margin-bottom: 25px;
    }

    .uploadedFileView {
        max-height: calc(100vh - 114px);
        overflow-y: scroll;
    }
}