.requestedContent {
    font-size: 11px;
    font-weight: "bold";
    color: "#0C099C";
    display: flex;
    padding-top: 5px;
}

.leader-board-heading {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(83, 118, 240, 0.2);

    svg {
        font-size: 28px;
        color: var(--active-themes);
        margin-right: 6px;
    }
}

.react-tabs__tab--selected {
    background: var(--active-themes) !important;
    border-bottom: 1px solid var(--active-themes) !important;
    color: #fff !important;
    border-radius: 5px 5px 0 0;
    height: 43px !important;
}

.react-tabs__tab {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 10px 30px 0px 30px;
    cursor: pointer;
    background-color: #dde4fc;
    color: #333333;
    height: 42px;
    font-size: 14px;
    border-radius: 30px 30px 0px 0px;
    border-bottom: 2px solid var(--active-themes) !important;
    bottom: -3px !important;
}

.react-tabs__tab-list {
    border-bottom: 2px solid var(--active-themes);
}

.disply-page-title {
    text-transform: uppercase;
    color: var(--active-themes);
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
}

.answer-container {
    padding: 20px;
    background-color: var(--bg-primary-light);
    color: #2a2a2a;
    font-size: 14px !important;
    border-radius: 0px 30px 30px 30px;
    margin: 5px;
    margin-bottom: 20px;

    p {
        color: #2a2a2a;
        font-size: 14px !important;
    }
}

.question-box {
    cursor: pointer;
    // background-color: var(--card-background-color) !important;
    background-color:#fff!important;
    padding: 10px 20px 5px 20px;
    border-radius: 30px 0px 30px 30px;
    margin-bottom: 5px;
    border:1px solid #efefef;
    display: inline-flex;
   
    // box-shadow:0px 0px 10px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    

    .question-text {
        display: inline-block;
        .question {
            color: #2a2a2a;
            font-size: 14px;
        }
        .otherInfo {
            color: var(--active-themes) !important;
            font-size: 12px;
            font-weight: bold;
            display: flex;
            padding-top: 10px;
        }
        .viewIcon {
            color: var(--active-themes) !important;
            display: inline;
            margin-top: -8px;
            font-size: 1.4rem;
            padding-right: 5px;
            margin-left: 10px;
        }
    }
    &:hover{
        // background-color: #dde4fc !important;
        color:#0C099C;
        border:1px solid #0C099C;
    }
}
.active-tab{
    background-color: #DDE4FC !important;
    color: #0C099C;
}
.LikedAnswerpanel {
    padding: 10px;
    background-color: #F2F2F7;
    padding: 10px 10px 0px 10px;
    border-radius: 0px 30px 30px 30px;
    .likedQuestion {
        background-color: #fff;
        padding: 10px 15px;
        border-radius: 20px;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    }
    .questionText {
        font-size: 14px;
        color: #0c099c;
        margin-bottom: 10px;
    }
    .otherOptions {
        font-size: 12px;
        color: var(--active-themes);
        font-weight: bold;
        line-height: 30px;
    }
    .answerText {
        font-size: 14px;
        color: #2a2a2a;
        margin:15px;
        line-height: 24px;
        span {
            cursor: pointer;
        }
    }
    .viewIcon {
        border: 1px solid #0c099c;
        border-radius: 20px;
        display: inline-block;
        padding: 2px 8px;
        display: inline-flex;
        font-weight: bold;
        font-size: 12px;
        align-items: center;
        gap: 6px;
        line-height: 1;

        span {
            padding: 0;
        }
        svg {
            font-size: 18px;
        }
    }
    .thumbUp {
        border: 1px solid #2ac141;
        border-radius: 20px;
        display: inline-block;
        padding: 2px 8px;
        margin-left: 5px;
        display: inline-flex;
        font-weight: bold;
        font-size: 12px;
        align-items: center;
        gap: 6px;
        line-height: 1;

        span {
            padding: 0;
        }
        svg {
            color: #2ac141;
            transform: rotate(0) translate(0);
            font-size: 18px;
        }
        &:hover {
            background-color: #2ac141;
            color: #fff;
            svg {
                color: #fff;
                transform: rotate(-5deg) translate(0px, -1px);
            }
        }
    }
    .thumbDown {
        border: 1px solid #ff453a;
        border-radius: 20px;
        display: inline-block;
        padding: 2px 8px;
        margin-left: 5px;
        background-color: #fff;
        display: inline-flex;
        font-weight: bold;
        font-size: 12px;
        align-items: center;
        gap: 6px;
        line-height: 1;

        span {
            padding: 0;
        }

        svg {
            color: #ff453a;
            font-size: 18px;
        }
        &:hover {
            background-color: #ff453a;
            color: #fff;
            svg {
                color: #fff;
            }
        }
    }
    .showMore-spacer{
        text-align: center;
        display: block;
        padding:20px;
    }
    .showMore-link{       
        color:#0C099C;
        font-weight: bold;
        font-size:12px;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            border:1px solid #0C099C;
            padding:5px 8px;
            border-radius: 30px;;
            background-color: white;

        }
    }
}

.iconText {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--active-themes);
}

.asked-question-top-box {
    display: flex;
    justify-content: right;
    align-items: center;
}
.IconElemt {
    cursor: pointer;
}
.liked-ans-top-box {
    display: flex;
    justify-content: right;
    align-items: center;
}
