.TagsListDiv {
    justify-content: end;
    margin-bottom: 24px;
    margin-right: 52px;
    flex-direction: row !important;

    // display: grid;
    // align-items: center;
    // grid-template-columns: repeat(auto-fit, minmax(94px, 1fr));
}

.tagsStyle {
 border-radius: 18px !important;
 background-color:#E1E5F2 !important;
 color: rgba(51, 51, 51, 1) !important;
 font-size: 12px !important;
 font-weight: 400;
 padding: 6px 12px !important;
 box-shadow: inherit!important;
 margin:5px!important;
 cursor: pointer;
 border:1px solid #E1E5F2;
 &:hover{
    background-color: #DDE4FC!important;
    border:1px solid var(--active-themes);
 }
}

.tagCount{
    font-weight: 700;
}


@media (max-width: 620px) {
    .TagsListDiv {
        display: none !important;
    }
}