.thoughtProcess {
  font-family: var(--common-font-family);
  word-wrap: break-word;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Custom scrollbar styles */
.AnalysisPanelModalScrollbar {
  max-height: 500px;
  /* Set max height for scrollbar */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffbf80 transparent;
  /* Set scrollbar color */
}

/* Track */
.AnalysisPanelModalScrollbar::-webkit-scrollbar {
  width: 8px;
  /* Set scrollbar width */
}

/* Handle */
.AnalysisPanelModalScrollbar::-webkit-scrollbar-thumb {
  background-color: #ffbf80;
  /* Set scrollbar thumb color */
  border-radius: 4px;
}


/*Drawer styles*/
/* .drawerContentDiv .MuiDrawer-paper {
  max-width: 600px;
} */

.drawerContent {
  padding: 15px 20px;
  background: #F2F2F7;
  margin: 15px;
  border-radius: 15px;
  font-size: 14px;
}
.drawerContent ul{
  overflow:auto;
  height:100vh;
}