.chat-thread-container{
    width: 100%;
    padding: 5px 15px;

    .heading{
        display: flex;
        align-items:center;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 2px solid rgba(83, 118, 240, 0.2);
    
        svg {
            font-size: 28px;
            color: var(--active-themes);
            margin-right: 6px;
        }
    }
}
.file-count{
    background-color: #fff;
    padding: 0px;
    text-align: center;
    border-radius: 30px;
    color: var(--active-themes);
    font-size: 14px;
    display: unset;
    justify-content: center;
    border:1px solid var(--active-themes);
    height:36px;
    span{
        display:inline-block;
        padding-top:5px;
    }
    div{
        background-color: var(--active-themes);
        color:#fff;
        padding:7px;
        border-radius:30px;
        width:36px;
        float:right;
    }
}

.MuiDivider-fullWidth{
    overflow:hidden;
}
.grid-container{
    .thread-box{
        background-color:#fff!important;
        padding: 10px 20px 0px 20px;
        border-radius: 30px 30px 30px 30px;
        margin-bottom: 5px;
        border:1px solid #efefef;
        // box-shadow:0px 0px 10px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
        
        cursor: pointer;
        &:hover{
            // background-color: #dde4fc !important;
            color:#0C099C;
            border:1px solid #0C099C;
        }
        }
        .questionText{
            font-size:14px;
            // margin-bottom: 10px;
        }
        .otherOptions{
            font-size:12px;
            color: var(--active-themes);
            font-weight: bold;
            line-height:30px;
        }
        .viewIcon{
            border:1px solid green;
            border-radius: 20px;
            display: inline-block;
            padding: 4px 8px;
            display: inline-flex;
            font-weight: bold;
            font-size: 12px;
            align-items: center;
            gap: 6px;
            line-height: 1;
            margin:0px 4px;
            background-color: #fff;
            color:#0C099C;
    &:hover{
        background-color: var(--active-themes)!important;
        color:#fff;
    }
    
            span {
                padding: 0;
            }
            svg{ 
                font-size: 18px;
            }
        }
        .replyIcon{
            border:1px solid #0C099C;
            border-radius: 20px;
            display: inline-block;
            padding: 4px 8px;
            margin-left: 5px;
            display: inline-flex;
            font-weight: bold;
            font-size: 12px;
            align-items: center;
            gap: 6px;
            line-height: 1;
            background-color: #fff;
            color:#0C099C;
    &:hover{
        background-color: #0C099C;
        color:#fff;
    }
            span {
                padding: 0;
            }
                svg{
                    color:#0C099C;
                    transform:rotate(0) translate(0);
                    font-size: 18px;
                }
            &:hover{
                background-color: #0C099C;
                color:#fff;
                svg{
                    color:#fff;
                    transform:rotate(-5deg) translate(0px, -1px);
                }
            }
        }
        .thumbUp{
            border:1px solid #2AC141;
            border-radius: 20px;
            display: inline-block;
            padding: 4px 8px;
            margin-left: 5px;
            display: inline-flex;
            font-weight: bold;
            font-size: 12px;
            align-items: center;
            gap: 6px;
            line-height: 1;
            background-color: #fff;
            color:#2AC141;
    &:hover{
        background-color: #2AC141;
        color:#fff;
    }
            span {
                padding: 0;
            }
                svg{
                    color:#2AC141;
                    transform:rotate(0) translate(0);
                    font-size: 18px;
                }
            &:hover{
                background-color: #2AC141;
                color:#fff;
                svg{
                    color:#fff;
                    transform:rotate(-5deg) translate(0px, -1px);
                }
            }
        }
        .thumbDown{
            border:1px solid #FF453A;
            border-radius: 20px;
            display: inline-block;
            padding: 4px 8px;
            margin-left: 5px;
            background-color: #fff;
            display: inline-flex;
            font-weight: bold;
            font-size: 12px;
            align-items: center;
            gap: 6px;
            line-height: 1;
    
            span {
                padding: 0;
            }
    
            svg{
                color:#FF453A;
                font-size: 18px;
            }
            &:hover{
                background-color: #FF453A;
                color:#fff;
                svg{
                    color:#fff
                }
            }
        }
    }

.thread-icon-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.chatThreadBox{
    background-color: #5376F033;
    padding: 6px 6px;
    color: #0C099C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:22px;
}
.assignBtn{
    width: 100px;
    background-color: #BBBBBB;
    color: #000000;
    text-align: center;
    padding: 5px 0px;
    border-radius: 30px;
    cursor: pointer;
    &:hover{
        background-color: #aaa;
    }
}
.chatThreadAssignedBox{
    border: 1px solid var(--active-themes);
    margin-top: 0px;
    margin-bottom: 5px;
    //border-radius: 10px;
    // margin-top: 12px;
    border-radius: 22px;
    padding: 10px;
    margin-bottom:20px;
    font-size:14px!important;
}

.chatThreadAssignedBox p{
    margin-bottom: 5px;
    font-size:14px!important;
}

.chatThreadAssignedBox p span{
    color:#5376F0
}
.addMoreTopicsBox{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 5px;
}
.addMoreTopicsBox .textSpan{
    color:#0C099C;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.postSpan{
    background-color: #0C099C;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    padding: 5px 25px;
    border-radius: 22px;
    cursor: pointer;
    margin-left: auto;
}
.topicsBoxMain{
    margin-bottom: 5px;
}
.topicsBox{
    background-color: #5376F033;
    padding: 7px 15px;
    color: #0C099C;
    display: inline-block;
    border-radius:15px;
    cursor: pointer;
}
.addedTopicsBox{
    background-color: #5376F033;
    padding: 7px;
    color: #0C099C;
    border-radius:15px;
    margin-left: 5px;
}

.user-box{
    background-color: #C8C8C8;
    padding: 7px 10px;
    color: #0C099C;
    border-radius:15px;
    margin-left: 5px;
    display: inline-block;
}
.add-topic-search-container{
    margin-bottom:10px;
}
.removeElmnt{
    cursor: pointer;
    svg{
        font-size: 15px;
    }
    font-size:12px;
}
.success-msg-container{
    font-size: 16px;
    color: #18AA2E;
    padding-top: 20px;
    text-align: center;
}
.active-thread-box.css-0{
    // background-color: var(--active-themes)!important;
    background-color: #DDE4FC!important;
    // color:#fff;
    .otherOptions{
        // color:#fff;
    }
    &:hover{
        // background-color: var(--active-themes)!important;
        // color:#fff;
        .otherOptions{
            // color:#fff;
        }
    }
}
.reply-box-top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    span:first-child {
        font-size: 16px;
        font-weight: 700;
        color: #0C099C;
    }
      span:last-child {
        font-size: 11px;
        font-weight: 400;
        color: #000000;
    }
}
.comment-box{
    margin-top: 40px;
}
.comment-box-top{
    display: flex;
    align-items:center;
    span:nth-child(2) {
        font-size: 14px;
        font-weight: 700;
        color: #000000;
    }
    span:last-child {
        font-size: 12px;
        font-weight: 400;
        color: #0C099C;
        margin-left: auto;
    }
}
.name-circle{
    width: 36px;
    background-color: #BF5AF2CC;
    text-align: center;
    border-radius: 50%;
    height: 36px;
    line-height: 34px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
.comment-text{
    // padding: 10px;
    padding-left: 50px;
    font-size: 14px !important;
    color: #000000 !important;
    width:90%;
    border-left:1px solid #bdbdbd!important;
    margin-left: 20px!important;
    margin-top:10px!important;
    padding-bottom:20px;
}

   

