* {
    box-sizing: border-box;
}

:root {
    --primary-color: #F9FAFB;
    --active-color: #EFF3FF;
    --white-color: #ffffff;
    --black-color: #000000;
    /* --background-color: #F9FAFB; */
    --background-color: #ffffff;
    --card-background-color: #ffffff;
    --border-color: #e9e4e4;
    --link-color: #003A75;
    --svg-color: #bd36ad;

    /* Font family */
    --common-font-family: "Inter";
    
    --theme-red : #FF453A;
    --theme-blue : #0027B0;
    --theme-orange : #FF9843;
    --theme-black : #000;
    --theme-green : #32D74B;
    --active-themes: #0027B0;

    /*blue*/
    --primary-blue-light: rgba(83, 118, 240, 0.1);
    --secondary-blue-color: #5376F0;
    --border-blue-color: rgba(83, 118, 240, 0.8);
    
    /*red*/
    --primary-red-light: rgb(255, 69, 58, 0.06);
    --secondary-red-color: #FF453A;
    --border-red-color: rgba(255, 69, 58, 0.8);
    
    /*orange*/
    --primary-orange-light: rgb(255, 152, 67, 0.1);
    --secondary-orange-color: #FF9843;
    --border-orange-color: rgba(255, 152, 67, 0.8);

    /*black*/
    --primary-black-light: rgb(0, 0, 0, 0.05);
    --secondary-black-color: #111;
    --border-black-color: rgba(0, 0, 0, 0.8);

    /*green*/
    --primary-green-light: rgb(50, 215, 75, 0.05);
    --secondary-green-color: #32D74B;
    --border-green-color: rgba(50, 215, 75, 0.8);
}

.theme-red{
    --bg-primary: var(--active-themes);
    --bg-secondary: var(--active-themes);
    --bg-primary-light: var(--primary-red-light);
    --primary-border-color: var(--border-red-color);
}
.theme-blue{
    --bg-primary: var(--active-themes);
    --bg-secondary: var(--secondary-blue-color);
    --bg-primary-light: var(--primary-blue-light);
    --primary-border-color: var(--border-blue-color);
}
.theme-orange{
    --bg-primary: var(--active-themes);
    --bg-secondary: var(--secondary-orange-color);
    --bg-primary-light: var(--primary-orange-light);
    --primary-border-color: var(--border-orange-color);
}
.theme-black{
    --bg-primary: var(--active-themes);
    --bg-secondary: var(--secondary-black-color);
    --bg-primary-light: var(--primary-black-light);
    --primary-border-color: var(--border-black-color);
}
.theme-green{
    --bg-primary: var(--active-themes);
    --bg-secondary: var(--secondary-green-color);
    --bg-primary-light: var(--primary-green-light);
    --primary-border-color: var(--border-green-color);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

html {
    background: var(--background-color);
    font-family: var(--common-font-family);
}

#root {
    height: 100%;
}

/* span{
    padding-top:0px!important;
} */
.text-center {
    text-align: center;
}

.productImageList {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    background: #f8f8f8;
    flex-flow: wrap;
    padding: 1rem;
}



.productList {
    display: flex;
    margin-bottom: 2rem;
    gap: 20px;
    overflow-x: hidden;
    max-width: 600px;
    padding: 1rem;

}


.productItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    padding-bottom: 1.2rem;
    min-width: 260px;
    background-color: aliceblue;
}

.productItem .boldTag {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.productItem a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid;
    padding: 8px 15px;
    background: black;
    color: white;
    border-radius: 5px;
}

.owl-item {
    padding: 10px;
}

.primaryColor {
    background: -webkit-linear-gradient(left, #cf8d7c, #9445ab);
    background: linear-gradient(90deg, #cf8d7c, #9445ab);
    color: transparent;
}

/* CSS use to hide PDf View File */
.react-pdf__Page {
    margin-bottom: .8rem;
}

.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
    display: none !important;
}

/* CSS use to hide PDf View File */

.slick-track{
    display: flex !important;
    gap: 10px !important;
    padding: 10px 0;
  }
.available{
    background: #47c7d2 !important;
}
.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 0px;
}

/* *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
} */

.MuiAccordion-root {
    border: 1px solid var(--active-themes) !important;
}

.rowReverse .shiftingContainer {
    flex-direction: row-reverse !important;
     
}

.chatRightContent {
    position: relative; 
    min-height: 100%;
    transition: 0.7s;
    padding: 0 24px;
}

.shiftingContainer > div:nth-child(2) {
    position: relative;    
}
.shiftingContainer > div:nth-child(2)::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 2px;
    background: rgba(83, 118, 240, 0.2);
    left: 22px;
    top: 0;
}

.shiftingContainer .sidePanelBtn {
    display: flex;
        position: absolute;
        left: 0px;
        top: 45%;
        background: var(--active-themes);
        color: #fff;
        width: 22px;
        height: 48px;
        align-items: center;
        cursor: pointer;
}
.shiftingContainer .sidePanelBtn svg {
    /* transform: rotate(180deg); */
}
.rowReverse .shiftingContainer .sidePanelBtn {
    right: 0px;
    left: auto;
}
.rowReverse .shiftingContainer .sidePanelBtn svg {
    transform: rotate(180deg);
}
.rowReverse .shiftingContainer > div:nth-child(2)::before {
    right: 22px;
    left: auto;
}

.shiftingContainer {
    height: calc(100vh - 174px);
    overflow-y: scroll;
}
.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}
.slick-slide > div {
    height: 100%;
}

.KpisDrawer .MuiCollapse-wrapperInner {
    width: 100%;
}
.KpisDrawer span{
    padding: 0px;
}
.KpisDrawer .MuiOutlinedInput-notchedOutline legend {
    display: none;
}

.kpisTable {
    max-height: calc(100vh - 220px);
    margin-top: 15px;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
  }

.KpisDrawer .MuiTableRow-root[data-selected="true"] td.MuiTableCell-root::after {
    background-color: var(--white-color);
}
.KpisDrawer .MuiTableRow-root:hover td.MuiTableCell-root::after, 
.KpisDrawer .MuiTableRow-root[data-selected="true"]:hover td.MuiTableCell-root::after {
    background-color: rgba(25, 118, 210, 0.05);
}

.KpisDrawer .Mui-disabled.MuiIconButton-root {
 color: transparent;
}
.KpisDrawer .MuiInputBase-root {
    padding-right: 40px;
    border-radius: 25px;
}
.KpisDrawer .MuiTextField-root .MuiSvgIcon-root {
    position: absolute;
    right: 10px
}
.KpisDrawer .MuiTextField-root {
    width: 100%;
}

.kpisTable.disableSelection .Mui-selected .MuiCheckbox-root {
    pointer-events: none;
    opacity: 0.7;
}

.drawerHeader {
    background: var(--active-themes); 
    color: #fff;
    gap: 10px;
}
.drawerHeader .MuiTypography-h6 {
    font-size: 18px;
}

.MuiDrawer-root .MuiPaper-root {
    width: 540px;
    max-width: 90%;
}

/*Data table styles*/
.MuiDataGrid-root {
    border: none;

    .first-column.cell {
        background-color: #F2F2F7;
        font-weight: 600;
    }

    .highlight {
        background-color: grey;
    }

    .MuiDataGrid-cell {
        background-color: none;
        font-weight: 500;
        border: 1px solid #BBBBBB;
    }

    .MuiDataGrid-columnHeader {
        background-color: #5376F0;
        color: white;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        border: 1px solid #BBBBBB;
    }

    .MuiDataGrid-virtualScroller::-webkit-scrollbar {
        height: 6px;
    }

    .MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
        background-color: #bbb;
        border-radius: 6px;
    }

    .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
        background: #757575;
    }
}
.mui-custom-toggle{  
    border:none;
    height:30px;
    margin-right:10px;
    margin-top: 10px;
}
.mui-toggle-active{
    background-color:#5376F0!important;
    color:#fff!important;
}


.mui-custom-toggle button:first-child{
    border-radius:30px 0px 0px 30px;
    border:1px solid #5376F0;
    font-size:12px;
    text-transform: none;
    white-space: nowrap;
}

.mui-custom-toggle button:nth-child(2){
    border-radius:0px 0px 0px 0px;
    border:1px solid #5376F0;
    font-size:12px;
    text-transform: none;
}
.mui-custom-toggle button:last-child{
    border-radius:0px 30px 30px 0px;
    border:1px solid #5376F0;
    font-size:12px;
    text-transform: none;
}
.mui-custom-toggle button span{
    padding:0px 3px; 
    white-space: nowrap;
}
.mui-custom-toggle button span svg{
    font-size:20px;
    color:#5376F0;
}

.mui-toggle-active svg{
    color:#fff!important;
    
}
/* // */
.pdf-icon{
    color:#0027B0;
}
.delete-icon{
    color:#FF453A;
}
/* // */
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.clear-path{
    clear:both;
}


@media (max-width: 900px) {
    .shiftingContainer {
        height: calc(100vh - 232px);
        overflow: hidden;
        position: relative;
    }

    .chatRightContent {
        background: #fff;
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        transition: 0.7s;
        padding-right: 0px;
        z-index: 99;
    }

    .MuiSlider-root .MuiSlider-markLabel {
        top: 25px !important;
    }

    .rowReverse .shiftingContainer .sidePanelBtn {
        right: auto;
        left: 0px;
    }
    .rowReverse .shiftingContainer > div:nth-child(2)::before {
        right: auto;
        left: 22px;
    }
    .rowReverse .shiftingContainer .sidePanelBtn svg {
        transform: none;
    }
}
