.answerContainerDiv {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: baseline;
    max-width: 100%;
}

.answerContainer {
    padding: 20px;
    background: #F2F2F7;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: transparent solid 1px;
    width: 100%;
    position: relative;
}

.answerContainer::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 50px;
    background: #F2F2F7; 
    clip-path: polygon(38% 0, 100% 0%, 100% 72%, 76% 73%, 47% 72%, 47% 25%, 0 0);
    left: -20px;
    top: -2px;
}

.answerLogo {
    font-size: 28px;
}

.answerText {
    font-family: var(--common-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    white-space: pre-line;
    color: #000000; 
    
}
.answerText a {
    word-break: break-all;
}
.answerText ul {
    padding-left: 25px;
}
.answerText table {
    border-collapse: collapse;
}

.answerText td,
.answerText th {
    border: 1px solid;
    padding: 5px;
}

.selected {
    outline: 2px solid rgba(115, 118, 225, 1);
}

.citationLearnMore {
    margin-right: 5px;
    font-weight: 600;
    line-height: 24px;
}

.citation {
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    padding: 0px 8px;
    background: #d1dbfa;
    color: #123bb6;
    text-decoration: none;
    cursor: pointer;
}

.citation:hover {
    text-decoration: underline;
}

.followupQuestionsList {
    margin-top: 10px;
}

.followupQuestionLearnMore {
    margin-right: 5px;
    font-weight: 600;
    line-height: 24px;
}

.followupQuestion {
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    padding: 0px 8px;
    background: #e8ebfa;
    color: black;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
}

.supContainer {
    text-decoration: none;
    cursor: pointer;
}

.supContainer:hover {
    text-decoration: underline;
}

sup {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    vertical-align: top;
    top: -1;
    margin: 0px 2px;
    min-width: 14px;
    height: 14px;
    border-radius: 3px;
    background: #d1dbfa;
    color: #123bb6;
    text-decoration-color: transparent;
    outline: transparent solid 1px;
    cursor: pointer;
}

.retryButton {
    width: fit-content;
}

.retryButton span {
    padding: 10px 0;
}

@keyframes loading {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }

    100% {
        content: "";
    }
}

.loadingdots::after {
    content: "";
    animation: loading 1s infinite;
}

.submitContainer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
}

.submitContainer input {
    height: 60px;
    width: 80%;
    padding-right: 100px;
    padding-left: 20px;
    margin-right: 20px;
}

.CommentCategory button {
    color: "gray" !important;
    border-radius: "8px" !important;
    padding: "20px";
}

.IconCustomColor {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    background: #fff;
    border: 1px solid #E5E5EA;
    border-radius: 0 0 10px 10px;
    margin: 0 -20px -20px;
}

.iconDivider {
    border: 1px solid rgba(222, 222, 222, 1);
    margin-left: 10px !important;
    height: auto !important;
}

.IconCustomColor button, .IconCustomColor a {
    padding: 4px;
    gap: 2px;
    width: 28px;
    height: 28px;
    background: #5376F033;
    border: 1px solid #5376F080;
    border-radius: 50% !important;
    color: #1F36C7 !important;
    margin-left: 16px;
    cursor: pointer;
}

.IconCustomColor  button[aria-label="Like Answer"] {
    background: #2AC1411A;
    border-color: #2AC14180;

    span i {
        color: #2AC141;
    }
}
.IconCustomColor  button[aria-label="Dislike Answer"] {
    background: #FF453A1A;
    border-color: #FF453A80;

    span i {
        color: #FF453A;
    }
}

.IconCustomColor a svg{
    width: 20px;
}

.IconCustomColor button span i {
    color: #1F36C7;
    /* border-radius: "8px" !important */
}
.IconCustomColor button span{
    padding: 0;
}

.CommentCategory button span span {
    padding: 0;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 40px;
}

/* Links inside the dropdown */
.dropdownContent a {
    color: #1F36C7;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a label {
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
    background-color: var(--background-color);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.dropdownContent a button {
    margin-right: 10px;
}

.dropdownContent a button:hover {
    background: none !important;
}



.productImageList {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    background: #f8f8f8;
    flex-flow: wrap;
    padding: 1rem;
}

/* Animation */


.productList {
    display: flex;
    margin-bottom: 2rem;
    gap: 20px;
    overflow-x: hidden;
    max-width: 600px;
    padding: 1rem;

}

.productItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    padding-bottom: 1.2rem;
    min-width: 260px;
    background-color: aliceblue;
}

.boldTag {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.productItem a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid;
    padding: 8px 15px;
    background: black;
    color: white;
    border-radius: 5px;
}


/* RecommendedQuestion */
.recommendedQuestionBlock{
    /* max-width: 80%; */
    display: flex;
    padding: 0 2rem 2rem 2rem;
    border-radius: 10px;
    gap: .5rem;
    /* align-items: center; */

}

.recommendedQuestionList {
    display: flex;
    gap: 5px;
    flex-direction: column;
 
    /* display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr)); */
}


.recommendedQuestion{
    word-break: break-word;
    background: var(--card-background-color);
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
    /* text-align: center; */
    width: fit-content;
    font-size: 13px;
    /* min-height: 100px; */
    line-height: 1.5;
    border: 1px solid var(--active-themes);
}


.recommendedQuestion:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    outline: 2px solid rgba(115, 118, 225, 1);

}

/* feedback */

.feedbackButtonList{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.feedbackButtonList button{
    border: 1px solid #1F36C7 ;
}

.feedbackButtonList span{
    padding: 0;
}
.feedbackTextInput{
    padding: 1rem;
    width: 100%;
    height: 80px;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: 1px solid #1F36C7 ;
}

.feedbackTextAction{
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center !important;
    margin-bottom: 1rem;
}

@media (max-width: 950px) {
    .recommendedQuestionList{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .recommendedQuestionBlock{
        max-width:  100%;
    }
}